@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700&display=swap");
:root {
  --primary2: #16091b;
  --primary: #ffce4e;
  --secondary: #3d2942;
  --secondary2: #251928;
  --color1: #fde8b3;
  --light: #f5fbf2;
  --primary_glass: #e9d7a71a;
  --gradient1: linear-gradient(179.78deg, #1C121F 9.98%, rgba(28, 18, 31, 0.21) 81.39%);
  --inner_shadow: 2px 0 0 0 #e03054 inest;
  --text1: #bdaac1;
  --text2: #96839b;
  --text-red: #d53d5c;
  --border_color: #49374e;
  --blured: #e7b226b2;
  --blured2: #49374e;
}

body {
  background: var(--primary2);
  color: var(--light);
  font-family: "Work sans", sans-serif;
}

.container {
  max-width: 1367px;
  margin: 0 auto;
}

.btn {
  height: 84px;
  padding: 1rem 2rem;
}

.btn-primary {
  background: var(--primary);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}
.btn-primary:hover {
  background: rgba(255, 206, 78, 0.8);
}

.btn-primary-outline {
  border: 1px solid var(--primary);
  background: rgba(233, 215, 167, 0.1019607843);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
}
.btn-primary-outline:hover {
  background: rgba(233, 215, 167, 0.0392156863);
}

.navbar {
  height: 15vh;
  padding: 1vh min(1vh, 3vmin, 15px);
  background: inherit;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 11;
}

.navbar > ul li.links > ul li {
  color: inherit;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
}
.navbar > ul li.links > ul li:hover {
  color: var(--primary);
}
.navbar > ul li.links > ul li:hover:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  background: var(--primary);
}

.mobile-navbar {
  position: fixed;
  z-index: 10;
  top: -100%;
  height: 79vh;
  background: var(--primary2);
  width: 100%;
  left: 0;
  transition: all 0.3 ease-in;
}
.mobile-navbar.active {
  top: 21vh;
}

#menu-btn {
  display: none;
  cursor: pointer;
}

@media screen and (width <= 760px) {
  #menu-btn {
    display: block;
  }
  .navbar {
    height: 50px;
  }
  .navbar > ul li.links, .navbar > ul .btn {
    display: none;
  }
  .navbar > ul li.logo img {
    width: 48px;
    height: 48px;
  }
}
.hero {
  height: 79vh;
  margin-top: 21vh;
}
.hero__top > div:first-child h1 {
  font-family: Oxanium;
  font-size: 85px;
  font-weight: 700;
  line-height: 130px;
  letter-spacing: 0em;
  color: var(--light);
}
.hero__top > div:first-child h1 span {
  color: var(--primary);
}

.hero-stat-card h2 {
  font-family: Oxanium;
  font-size: 62px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--light);
}
.hero-stat-card p {
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  color: #9b9e9a;
}/*# sourceMappingURL=main.css.map */